<h1>Search</h1>
<div class="form-group">
    <label for="tb-search">What we searching for</label>
    <input class="form-control" id="tb-search">
    <button class="form-control btn btn-info" id="btn-search">Search</button>
</div>